<footer style="text-align:center;  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); padding: 20px 0 ; ">Design & Developed by
  ❣️
  <a href="https://github.com/kumarshanu19" style="text-decoration: none; color: #506ef9" target="_blank"
    rel="noopener noreferrer">Kumar Shanu</a></footer>
<div class="container">
  <div class="pie" [chart]="chart"></div>
  <div class="spline" [chart]="areaSplineChart"></div>
  <div class="bar" [chart]="barChart"></div>
  <div class="bar" [chart]="oneLineBar"></div>


</div>
